header{
    color: #004AAD;
    font-family: Graduate;
   font-size: 3rem;
   font-weight: 2rem;
   text-align: center;
   }

   .componentes{
    color: #004AAD;
    font-family: Graduate;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
   }