header{
    color: #004AAD;
  font-family: Graduate;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
   }

   .material h1{
    color: #004AAD;
   font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
   }


.kit{
    color: #004AAD;
  text-align: center;
  font-family: Graduate;
  font-size: 2.3125rem;
  font-weight: 400;
}


   .comp{
    text-align: center;
    color: #000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    
   }

   .sensor{
  color: #004AAD;
  text-align: center;
  font-family: Graduate;
  font-size: 2.1875rem;
  font-weight: 400;

   }

.contsensor{
    text-align: center;
    color: #000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    text-align: center;
    
    
}

.compimg{
  align-items: flex-start;
    text-align: center;
    display: block;
}
 

.cpimg{
  align-items: flex-start;
  text-align: center;
  display: block;
}

   
