.titulo{
  color: #004AAD;
  text-align: center;
  font-family: Graduate;
  font-size: 2rem;
   }


   .comp{
    text-align: center;
    color: #000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    justify-content: center;
    
   }

   .sensor h2{
  color: #004AAD;
  text-align: center;
  font-family: Graduate;
  font-size: 3rem;
  font-weight: 400;

   }

.contsensor{
    color: #000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    text-align: center;
    width: 70%;
    margin: auto;
    
    
}

.compimg{
  align-items: flex-start;
    text-align: center;
    display: block;
}
 

.cpimg{
  align-items: flex-start;
  text-align: center;
  display: block;
}

   
