header{
    color: #004AAD;
   font-size: 3rem;
   font-style: normal;
   font-weight: 2rem;
   line-height: normal;
   text-align: center;
   }
   
   .func1{
    color: #000;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    font-family: Graduate;
    line-height: normal;
    width: 780px;
    text-align: left;
   }
   
   .func2{
    color: #000;
    font-family: Graduate;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 730px;
   }

   .func3{
    color: #000;
    font-family: Graduate;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 730px;
   }