h1{
  text-align: center;
   }

 .img1{
    align-items: flex-start;
    text-align: center;
    display: block;
 }

   .cont1{
    color: #000;
    font-family: Graduate;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 40rem;  
    font-size: 25px;
    width: 50%;
    margin: auto;
    display: block;
  
   }
   
   .cont2{
    color: #000;
    font-family: Graduate;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 40rem;  
    font-size: 25px;
    width: 50%;
    margin: auto;
    display: block;
  
   }