h1{
  text-align: center;
   }

 .img1{
    align-items: flex-start;
 }

   .cont1{
    color: #000;
    font-family: Graduate;
    font-size: 1.5rem;
    font-weight: 400;
    width: 50rem;
    margin: 2rem;
   }
   
   .cont2{
    color: #000;
    font-family: Graduate;
    font-size: 1.5rem;
    font-weight: 400;
    width: 50rem;
    margin: 2rem;
   }