header{
    color: #004AAD;
   font-size: 1.5rem;
   font-weight: 2rem;
   text-align:left;
   color: #004AAD;
font-family: Graduate;
}
.obj{
    color: #000;
    font-family: Graduate;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 40rem;  
    font-size: 25px;
    width: 50%;
    margin: auto;
    display: block;
  
}

.pub h1{
    color: #004AAD;
    font-size: 1.5rem;
    font-weight: 2rem;
}

.conteudop{
    color: #000;
    font-family: Graduate;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 40rem;  
    font-size: 25px;
    width: 50%;
    margin: auto;
    display: block;
}

.imgobj{
 box-sizing: border-box;

}