header{
    color: #004AAD;
   font-size: 1.5rem;
   font-weight: 2rem;
   text-align:left;
   color: #004AAD;
font-family: Graduate;
}
.obj{
    color: #000;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: Graduate;
    width: 780px;
    margin: 1rem;
}

.pub h1{
    color: #004AAD;
    font-size: 1.5rem;
    font-weight: 2rem;
}

.conteudop{
    color: #000;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: Graduate;
    width: 780px;
    text-align: left;
    margin: 1rem;
}